<div main-section>
    <a 
      href="{{ route('pdf-converter-show') }}"
      up-target="[main-section]"
      up-method="get"
      up-instant
      up-preload
    >
      pdf-converter
    </a>
</div>
