<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title || "ProjetAI" }}</title>
    @if ($slots.meta)
        {{{ await $slots.meta() }}}
    @endif

    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="min-h-screen bg-gray-100">
    <div class="h-[100px] w-full bg-red-500"></div>
    {{{ await $slots.main() }}}
  </body>
</html>
