@layout.app({ title: "Home" })
  @slot('meta')
    <meta name="description" content="ProjetAI - Home" />
  @endslot

  @slot('main')
    @component('components/partials/home')
    @end
  @endslot

@end
