@layout.app({ title: "Index Maker" })
  @slot('meta')
    <meta name="description" content="Index Maker" />
  @endslot

  @slot('main')
    @component('components/partials/index-maker')
    @end
  @endslot
@end
