@layout.app({ title: "pdf-converter" })
  @slot('meta')
    <meta name="description" content="ProjetAI - pdf-converter" />
  @endslot

  @slot('main')
    @component('components/partials/pdf-converter')
    @end
  @endslot

@end